<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>登陆</title>
    <head th:replace="import::head"></head>
 </head>

<body class="hold-transition skin-purple sidebar-mini">

<div class="wrapper">

    <div class="content-wrapper" style="margin-left: 0px">

        <!-- Main content -->
        <section class="content">
            <div class="error-page" style="border: 1px solid #F9F9F9; margin-top: 60px">
                <h2 class="headline text-yellow"> login</h2>

                <div class="error-content" style="margin-left: 240px ;border: 1px solid #F9F9F9">
                    <div class="login-box-body" >

                        <form th:action="@{/login}" method="post">
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control" placeholder="账号" name="username">
                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <input type="password" class="form-control" placeholder="密码" name="password">
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="checkbox icheck">
                                        <label><input type="checkbox" style="font-size: 16px"> 下次自动登录</label>
                                    </div>
                                </div>

                                <div class="col-xs-6" style="margin-top: 10px ;color: white" >
                                    <a th:href="@{/user/resetpwd}" class="myforget">忘记密码</a>
                                    <a th:href="@{/user/reg}" id="register" class="myforget">新用户注册</a>
                                </div>

                            </div>
                            <div >
                                <button type="submit" class="btn btn-primary btn-block btn-flat">登录</button>
                            </div>
                        </form>
                    </div>

                </div>
                <!-- /.error-content -->
            </div>


            <!-- /.error-page -->
        </section>
        <!-- /.content -->
    </div>

    <footer class="main-footer" style="margin-left: 0px">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.1
        </div>
        <strong>Copyright &copy; 2020 <a th:href="@{/index}">海棠工作室</a>.</strong> All rights reserved.
    </footer>
    <!-- 底部导航 /-->

</div>


<script>
    $(function() {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>


</body>

</html>