<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>数据 - AdminLTE2定制版</title>
    <head th:replace="import::head"></head>
</head>

<body class="hold-transition skin-yellow sidebar-mini">

    <div class="wrapper">

        <!-- 页面头部 -->
        <div th:replace="header::header"></div>
        <!-- 页面头部 /-->

        <!-- 导航侧栏 -->
        <div th:replace="asideb::asideb"></div>
        <!-- 导航侧栏 /-->

        <!-- 内容区域 -->
        <div class="content-wrapper">

            <!-- 内容头部 -->
            <section class="content-header">
                <h1>
                    旅游页面
                    <small>首页</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-database"></i> 首页</a></li>
                </ol>
            </section>

            <!-- 内容头部 /-->

            <!-- 正文区域 -->
            <section class="content">

                <div class="box box-primary">

                    <!--正文头部-->
                    <div class="box-header with-border" style="margin-top: 10px">
                        <h3 class="box-title">旅游列表</h3>

                        <div class="box-tools pull-right">
                            <div class="has-feedback">
                                <input type="text" class="form-control input-sm" placeholder="搜索">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <!--正文头部-->
                    <!-- 旅游列表 -->
                    <div class="row" style="margin-left: 1px;margin-right: 1px ; margin-top: 10px ">
                        <div class="col-lg-4 col-xs-6" th:each="product:${pageInfo.list}" >
                            <!-- small box -->
                            <div class="small-box bg-yellow he">
                                <div class="inner">
                                    <h3 th:text="'￥'+${product.productPrice}"></h3>
                                    <p th:text="${product.cityName}"></p>
                                    <p th:text="${product.departureTimeStr}"></p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-map"></i>
                                </div>
                                <a th:text="${product.productName}" th:href="@{/product/findByIdtravel(pid=${product.id})}" class="small-box-footer">开封一日游 <i class="fa fa-arrow-circle-right"></i></a>
                                <p th:text="'剩余 ： '+${product.productNum}+' 位'" class="fo"></p>
                            </div>
                        </div>
                        <!-- ./col -->
                    </div>
                    <!-- 旅游列表 -->

                    <a th:href="@{/index/travel-indexpage (page=${pageInfo.pageNum+1},size=${pageInfo.pageSize})}">
                    <div class="small-box bg-yellow" style="float: right;background-color: #00e765">
                        <div class="icon" >
                            <i class="ion ion-arrow-right-c" style="color: #f39c51 ;height: 30px"></i>
                        </div>
                    </div>
                    </a>

                    <a th:href="@{/index/travel-indexpage (page=${pageInfo.pageNum-1},size=${pageInfo.pageSize})}">
                    <div class="small-box bg-yellow" style="float: left;width: 100px;background-color: #00e765">
                        <div class="icon" >
                            <i class="ion ion-arrow-left-c" style="color: #f39c51 ;height: 30px"></i>
                        </div>
                    </div>
                    </a>

                    <div style="color:#ff863c;display: inline-block;float: left;font-size: 16px;margin-top: 34px;margin-left: 410px">
                        当前页<span th:text="${pageInfo.pageNum}"></span> , 总共<span th:text="${pageInfo.pages}"></span> 页 , 共<span th:text="${pageInfo.total}"></span> 条数据。

                    </div>

                </div>
            </section>
            <!-- 正文区域 /-->

        </div>
        <!-- 内容区域 /-->

        <!-- 底部导航 -->
         <div th:replace="footer::footer"></div>
        <!-- 底部导航 /-->

    </div>
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script>
        $(document).ready(function() {
            // 选择框
            $(".select2").select2();

            // WYSIHTML5编辑器
            $(".textarea").wysihtml5({
                locale: 'zh-CN'
            });
        });


        // 设置激活菜单
        function setSidebarActive(tagUri) {
            var liObj = $("#" + tagUri);
            if (liObj.length > 0) {
                liObj.parent().parent().addClass("active");
                liObj.addClass("active");
            }
        }


        $(document).ready(function() {
            // 激活导航位置
            setSidebarActive("admin-index");
        });
    </script>
</body>

</html>
<!---->