<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>游客信息详情</title>
    <head th:replace="import::head"></head>
</head>

<body class="hold-transition skin-yellow sidebar-mini" style="background-color: #F1F3F4">

<div class="wrapper">

    <!-- 页面头部 -->
    <div th:replace="header::header"></div>
    <!-- 页面头部 /-->

    <!-- 内容区域-->
    <div class="content-wrapper" style="background-color: #F1F3F4">

        <div id="center" style="background-color: white">
        <div class="box-body">

            <!-- 数据表格 -->
            <div class="table-box">

                <!--工具栏-->
                <div class="pull-left">
                    <div class="form-group form-inline">
                        <label style="margin-top: 10px">选择乘客列表</label>
                    </div>
                </div>
                <div class="box-tools pull-right" style="margin-top: 10px">
                    <div class="has-feedback">
                        <a th:href="@{/user/addTraveller (productid=${productid})}">
                            <i class="fa fa-plus"></i> <span>添加乘客</span>
                        </a>

                    </div>
                </div>

                <form th:action="@{/order/add}">
                <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                    <thead>
                    <tr>
                        <th class="" style="padding-right:0px;">
                            <input id="selall" type="checkbox" class="icheckbox_square-blue">
                        </th>
                        <th class="text-center"><a >姓名</a></th>
                        <th class="text-center"><a >性别</a></th>
                        <th class="text-center"><a >乘客类型</a></th>
                        <th class="text-center"><a >手机号</a></th>
                        <th class="text-center"><a >证件类型</a></th>
                        <th class="text-center"><a >证件号码</a></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="traveller : ${travellers}">
                        <td><input name="traveller" type="checkbox" th:value="${traveller.id}"></td>
                        <td th:text = "${traveller.name}"></td>
                        <td th:text = "${traveller.sex}"></td>
                        <td th:text = "${traveller.travellerTypeStr}"></td>
                        <td th:text = "${traveller.phoneNum}"></td>
                        <td th:text = "${traveller.credentialsTypeStr}"></td>
                        <td th:text = "${traveller.credentialsNum}"></td>
                    </tr>
                    </tbody>
                </table>


                    <section class="content"> <!--旅游项目-->
                        <div class="panel panel-default">
                            <div class="panel-heading">订单信息</div>
                            <input type="text" name="productid" th:value="${productid}" style="display: none">

                            <div class="row data-type">
                                <div class="col-md-2 title">支付类型</div>
                                <div class="col-md-4 data">
                                    <select class="form-control select2" style="width: 100%"
                                            name="payType">
                                        <option value="0" selected="selected">支付宝</option>
                                        <option value="1">微信</option>
                                    </select>
                                </div>

                                <div class="col-md-2 title ">订单描述</div>
                                <div class="col-md-4 data ">
                                    <input type="text" class="form-control"  placeholder="订单描述"
                                           name="orderDesc">
                                </div>

                            </div>
                        </div>
                        <!--订单信息/--> <!--工具栏-->
                        <div class="box-tools text-center">
                            <button type="submit" class="btn bg-maroon">提交订单</button>
                            <button type="button" class="btn bg-default"
                                    onclick="history.back(-1);">返回</button>
                        </div>
                    </section>
                </form>
                <!--数据列表/-->
            </div>
            <!-- 数据表格 /-->
        </div>
        </div>
    </div>
    <!-- 内容区域/-->

    <!--底部导航-->
    <div th:replace="footer::footer" ></div>
    <!-- 底部导航 /-->
</div>
<script>
    $(document).ready(function () {
        $('#dateTimePicker').datetimepicker({
            format: "yyyy-mm-dd - hh:ii",
            autoclose: true,
            todayBtn: true,
            language: 'zh-CN'
        });

        $("#selall").click(function() {
            var clicks = $(this).is(':checked');
            if (!clicks) {
                $("#dataList td input[type='checkbox']").iCheck("uncheck");
            } else {
                $("#dataList td input[type='checkbox']").iCheck("check");
            }
            $(this).data("clicks", !clicks);
        });


    })

</script>

</body>

</html>