<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>用户添加</title>
    <head th:replace="import::head"></head>
</head>

<body class="hold-transition skin-yellow sidebar-mini">

<div class="wrapper">

    <!-- 页面头部 -->
    <div th:replace="header::header"></div>
    <!-- 页面头部 /-->

    <!-- 导航侧栏 -->
    <div th:replace="aside::aside"></div>
    <!-- 导航侧栏 /-->

    <!-- 内容区域 -->
    <div class="content-wrapper">

        <!-- 内容头部 -->
        <section class="content-header">
            <h1>
                用户管理
                <small>数据表单</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-database"></i> 首页</a></li>
                <li><a href="#">用户管理</a></li>
                <li class="active">添加列表</li>
            </ol>
        </section>
        <!-- 内容头部 /-->

        <!-- 正文区域 -->
        <form action="/user/add" method="post">
            <!-- 正文区域 -->
            <section class="content"> <!--用户信息-->

                <div class="panel panel-default">
                    <div class="panel-heading">用户信息</div>
                    <div class="row data-type">

                        <div class="col-md-2 title">email</div>
                        <div class="col-md-4 data">
                            <input type="text" class="form-control" name="email"
                                   placeholder="邮箱" value="">
                        </div>

                        <div class="col-md-2 title">用户名</div>
                        <div class="col-md-4 data">
                            <input type="text" class="form-control" name="username"
                                   placeholder="用户名称" value="">
                        </div>

                        <div class="col-md-2 title">密码</div>
                        <div class="col-md-4 data">
                            <input type="text" class="form-control" name="password"
                                   placeholder="用户名称" value="">
                        </div>
                        <div class="col-md-2 title">手机号</div>
                        <div class="col-md-4 data">
                            <input type="text" class="form-control" name="phoneNum"
                                   placeholder="用户名称" value="">
                        </div>

                        <div class="col-md-2 title">用户状态</div>
                        <div class="col-md-4 data">
                            <select class="form-control select2" style="width: 100%"
                                    name="status">
                                <option value="0" selected="selected">关闭</option>
                                <option value="1">开启</option>
                            </select>
                        </div>


                    </div>
                </div>
                <!--订单信息/--> <!--工具栏-->
                <div class="box-tools text-center">
                    <button type="submit" class="btn bg-maroon">保存</button>
                    <button type="button" class="btn bg-default"
                            onclick="history.back(-1);">返回</button>
                </div>
            </section>
            <!-- 正文区域 /-->
        </form>
        <!-- 正文区域 /-->
    </div>
    <!-- 内容区域/-->

    <!--底部导航-->
    <div th:replace="footer::footer"></div>
    <!-- 底部导航 /-->
</div>
<script>
    $(document).ready(function () {
        $('#dateTimePicker').datetimepicker({
            format: "yyyy-mm-dd - hh:ii",
            autoclose: true,
            todayBtn: true,
            language: 'zh-CN'
        });

    })
    
</script>
</body>

</html>